h1{
    color:#4C4CAD ;
    font-size: 40px;
    font-family: Georgia ;
    font-weight: heavy ;
    display: flex;
    justify-content: center;
    

}
h2 {
    color: #FF9B29;
    font-size: 30px;

    font-family: Georgia ;
    font-weight: bold ;
}
body{
    margin: 0 ;
    font-size: 30px;
    padding: 0;
}
.container2 {
   display: flex; 
   justify-content:space-evenly;
}

footer{

   text-align: end;
    color:#4C4CAD ;
    font-size: 25px;
    font-family: Georgia; 
    font-weight: thin;
    margin-top: 100px;
    margin-right: 5px;
}
ul li
{
    font-size: 25px;
}
